.myBtn {
  padding: 8px 20px;
  color: white;
  font-size: 14px;
  background: teal;
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: 20px;
}

.myBtn:hover {
  border: 1px solid teal;
  color: teal;
  background-color: transparent;
}

.myBtn:active {
  background: teal;
  color: white;
}
