.myBtn {
  padding: 8px 20px;
  color: white;
  background-color: rgb(0, 110, 255);
  font-size: 16px;
  border: 1px solid rgb(0, 110, 255);
  cursor: pointer;
  border-radius: 25px;
  box-shadow: 0px 0px 15px 3px rgba(0, 110, 255, 0.499);
  letter-spacing: 0.05em;
}

@media (max-width: 1024px) {
  .myBtn {
    padding: 5px 10px;
    font-size: 14px;
    box-shadow: 0px 0px 15px 3px rgba(0, 110, 255, 0.499);
  }
}

.myBtn:hover {
  border: 1px solid rgb(0, 110, 255);
  color: white;
  background-color: rgb(0, 73, 170);
  transition: ease-in-out;
  box-shadow: 0px 0px 20px 5px rgba(0, 110, 255, 0.499);
}

.myBtn:active {
  color: white;
  background-color: rgb(0, 45, 104);
  box-shadow: 0px 0px 25px 8px rgba(0, 110, 255, 0.6);
}
