.navbar {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 40px;
  height: 70px;
  width: 100dvw;
  font-size: large;
  font-weight: 500;
  padding: 0 15px;
  background-color: rgb(36, 48, 70);
  box-shadow: 4px 4px 10px rgb(36, 48, 70);
  z-index: 10;
}

@media (max-width: 1024px) {
  .navbar {
    padding-bottom: 20px;
    height: 50px;
    font-size: medium;
    font-weight: 400;
    padding: 0 15px;
  }
}

@media (max-width: 640px) {
  .navbar {
    font-size: smaller;
  }
}

.navbar__logout {
  margin-right: auto;
}

.navbar__links {
  margin-left: auto;
}

.navbar__links a:hover {
  color: rgb(0, 110, 255);
}
.navbar__links a {
  margin: 0 15px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: rgb(255, 255, 255);
}

a.active {
  color: rgb(0, 110, 255);
  border-bottom: 1px solid rgb(0, 110, 255);
}

a.pending {
  color: rgb(255, 191, 0);
}
